---
- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install required packages
  apt:
    name:
      - nginx
      - ssl-cert
      - strongswan
      - strongswan-pki
    state: present

- name: Configure network interfaces
  include_tasks: network.yml

- name: Create IPSEC directories
  file:
    path: "{{ item }}"
    state: directory
    owner: root
    group: root
    mode: '0755'
  loop:
    - /etc/ipsec.d/certs
    - /etc/ipsec.d/private
    - /etc/ipsec.d/cacerts
    - /etc/ipsec-pki

- name: Copy CA certificate from VM1
  copy:
    src: "/etc/ipsec.d/cacerts/caCert.pem"
    dest: "/etc/ipsec.d/cacerts/caCert.pem"
    owner: root
    group: root
    mode: '0644'
  delegate_to: vm1

- name: Copy CA key from VM1
  copy:
    src: "/etc/ipsec-pki/caKey.pem"
    dest: "/etc/ipsec-pki/caKey.pem"
    owner: root
    group: root
    mode: '0600'
  delegate_to: vm1

- name: Generate client private key
  command: >
    ipsec pki --gen --type rsa --size 4096 --outform pem > /etc/ipsec-pki/clientKey.pem
  args:
    chdir: /etc/ipsec-pki
    creates: /etc/ipsec-pki/clientKey.pem

- name: Generate client certificate
  command: >
    ipsec pki --pub --in /etc/ipsec-pki/clientKey.pem --type rsa |
    ipsec pki --issue --lifetime 1825 
    --cacert /etc/ipsec.d/cacerts/caCert.pem 
    --cakey /etc/ipsec-pki/caKey.pem 
    --dn "CN={{ vm2_internal_ip }}" 
    --outform pem > /etc/ipsec-pki/clientCert.pem
  args:
    chdir: /etc/ipsec-pki
    creates: /etc/ipsec-pki/clientCert.pem

- name: Copy client certificates to IPSEC directories
  copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: root
    group: root
    mode: "{{ item.mode }}"
  loop:
    - { src: "/etc/ipsec-pki/clientKey.pem", dest: "/etc/ipsec.d/private/{{ ipsec_client_key_name }}", mode: '0600' }
    - { src: "/etc/ipsec-pki/clientCert.pem", dest: "/etc/ipsec.d/certs/{{ ipsec_client_cert_name }}", mode: '0644' }

- name: Configure IPSEC secrets
  copy:
    content: |
      : RSA /etc/ipsec.d/private/{{ ipsec_client_key_name }}
    dest: /etc/ipsec.secrets
    owner: root
    group: root
    mode: '0600'
  notify: restart strongswan

- name: Configure nginx default site
  template:
    src: default.j2
    dest: /etc/nginx/sites-enabled/default
    owner: root
    group: root
    mode: '0644'
  notify: restart nginx

- name: Deploy static index page
  copy:
    content: |
      <!DOCTYPE html>
      <html>
      <head>
          <title>VM2 Web Server</title>
      </head>
      <body>
          <h1>Welcome to VM2 Web Server</h1>
          <p>This page is served from VM2 through IPSEC tunnel via VM1.</p>
      </body>
      </html>
    dest: /var/www/html/index.html
    owner: www-data
    group: www-data
    mode: '0644'

- name: Start and enable nginx
  systemd:
    name: nginx
    state: started
    enabled: yes

- name: Configure IPSEC client
  template:
    src: ipsec.conf.j2
    dest: /etc/ipsec.conf
    owner: root
    group: root
    mode: '0644'
  notify: restart strongswan